

<div class="home-container">
  <h1 class="title">AI Service Dashboard</h1>
  <div *ngIf="!isResultReady">
    <p class="subtitle">Benvenuto! Per iniziare seleziona un servizio AI 😊</p>
  </div>
  

  <!-- Selettore AI -->
  <!-- <section class="card">
    <h2>1. Scegli il servizio AI</h2>
    <app-ai-selector (serviceSelected)="onServiceSelected($event)"></app-ai-selector>
    <p *ngIf="selectedService">🔹 Servizio scelto: {{ selectedService }}</p>
  </section> -->


  <section class="card" *ngIf="!isResultReady">
    <h2>1. Seleziona servizio</h2>
      <app-process-selector (processSelected)="onProcessSelected($event)"></app-process-selector>
  </section>

   <section class="card" *ngIf="selectedProcess && !isResultReady">
    <h2>2. Carica il file</h2>
    <app-file-uploader (fileUploaded)="onFileUploaded($event)" [selectedProcess]="selectedProcess" (transcriptionReceived)="onTranscriptionReceived($event)" (ocrResultReceived)="onOcrResultReceived($event)"></app-file-uploader>
    
  </section>

  <section class="card" *ngIf="isResultReady && selectedProcess === 'Whisper'">
    <h2>3. Risultato</h2>
    {{transcription}} 
  </section>
  <section class="card" *ngIf="isResultReady && selectedProcess === 'OCR'">
    <h2>3. Risultato</h2>
    {{resultOCR}} 
  </section>
  <section>
    <app-dashboard></app-dashboard>
  </section>


</div>
