<div class="upload-container" 
     [class.drag-over]="isDragOver"
     (drop)="onDrop($event)"
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)">
    <div class="upload-content">
        <p>📂 Trascina qui il file oppure</p>
        <label for="fileInput" class="upload-button">Seleziona file</label>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
    </div>
    <div class="uploaded-file" *ngIf="fileSelected">
        <p>✅ File caricato:</p>
        <p><strong>Nome:</strong> {{ fileSelected.name }}</p>
        <p><strong>Dimensione:</strong> {{ (fileSelected.size / 1024).toFixed(2) }} KB</p>
        <p *ngIf="fileAudioDuration !== null"><strong>Durata:</strong> {{ formatDuration(fileAudioDuration) }} minuti</p>
        
        
        </div>
        <div *ngIf="selectedProcess === 'Whisper'" class="result-whisper">
            <button *ngIf="fileSelected" [disabled]="isLoading"  class="custom-button" (click)="uploadToWhisper()" >
                Avvia {{selectedProcess}}
            </button>
            <p>
                {{ isLoading ? 'Caricamento...⏳' : '' }}
            </p>
            
        </div>
        <div *ngIf="selectedProcess === 'OCR'" class="result-OCR">
            <button *ngIf="fileSelected" [disabled]="isLoading"  class="custom-button" (click)="uploadToOCR()" >
                Avvia {{selectedProcess}}
            </button>
            <p>
                {{ isLoading ? 'Caricamento...⏳' : '' }}
            </p>
            
        </div>
        <!-- CHART2TEXT -->
        <div *ngIf="selectedProcess === 'Chart2Text'" class="result-chart2text">
            <button 
                *ngIf="fileSelected" 
                [disabled]="isLoading" 
                class="custom-button" 
                (click)="uploadToChart2Text()">

                Avvia {{ selectedProcess }}
            </button>
            <p>{{ isLoading ? 'Caricamento...⏳' : '' }}</p>
        </div>
        <div *ngIf="selectedProcess === 'Image To Text'" class="result-chart2text">
  <button *ngIf="fileSelected" [disabled]="isLoading" class="custom-button"
          (click)="uploadToChart2Text()">
    Avvia {{selectedProcess}}
  </button>
  <p>{{ isLoading ? 'Caricamento...⏳' : '' }}</p>
</div>

        </div>

